<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <a href="http://github.com/Attamusc/ScalyBlackjackWeb">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
  </a>

  <div id="container">
	<header>
    	<h1><a href="http://github.com/Attamusc/ScalyBlackjackWeb">Scaly Blackjack Web</a></h1>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
    <p class="description">Web Blackjack Casino simulation using the Lift web framework, written in the Scala programming language.</p>

  </div>

  
</body>
</html>