<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <a href="http://github.com/Attamusc/ScalyBlackjackWeb">
	<img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
  </a>

  <div id="container">
	<header>
    	<h1><a href="http://github.com/Attamusc/ScalyBlackjackWeb">Scaly Blackjack Web</a></h1>
	</header>
	<nav>
		<a href="/"></a>
		<a href="/about">About</a>
	</nav>
	
	<p>Welcome {{#user}}{{name}}{{/user}}!</p>
	
    <p class="description">Web Blackjack Casino simulation using the Lift web framework, written in the Scala programming language.</p>
	
	<h2>Video Demonstrations</h2>
	<p>Our current demo is only in the mock-up stage, but the overall functionality can still be seen.</p>
	<div id="demo_video">
		<iframe src="http://www.youtube.com/embed/tAVgGzUxo3c?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
	</div>

    <h2>Authors</h2>
	<ul>
		<li><span>Sean Dunn</span> - Marist 5-Year Masters Student</li>
		<li><span>Joey Carmello</span> - Marist 5-Year Masters Student</li>
		<li><span>Neal Tanner</span> - Marist Graduate Student</li>
	</ul>
	
	<h2>Contact</h2>
	<p>For any questions, please contact the authors of the project.</p>
	
    <h2>Get the Code</h2>
    <p>The code can be found on <a href="http://github.com/Attamusc/ScalyBlackjackWeb">GitHub</a>.</p>
    <p>Or...</p>
 	<p>You can also clone the project with <a href="http://git-scm.com">Git</a> by running:
      <pre>$ git clone git://github.com/Attamusc/ScalyBlackjackWeb</pre>
    </p>

  </div>

  
</body>
</html>
