<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<h1>New User</h1>
	<form action="/users" method="post" accept-charset="utf-8">
		<label for="name">Name:</label><input id="name" name="name" value=""><br/>
		<label for="fav_color">Favorite Color:</label><input id="fav_color" name="fav_color" value=""><br/>
		<p><input type="submit" value="Create User"></p>
	</form>	
</body>
</html>