<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{title}}</title>
</head>
<body>
	{{#user}}
	<h1>{{name}}</h1>
	<p>Id: {{id}}</p>
	<p>Name: {{name}}</p>
	<p>Favorite Color: {{fav_color}}</p>
	{{/user}}
	<a href="/users">Back</a>
</body>
</html>